.DS_Store
coverage
build
.idea/
.vscode/

#EpicReact
EpicReact/react-fundamentals/node_modules
EpicReact/react-fundamentals/.eslintcache
EpicReact/react-fundamentals/.github/
EpicReact/react-hooks/node_modules/
EpicReact/advanced-react-hooks/node_modules/



#Testing
Testing/simple-testing-app/node_modules