.card {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  display: block;
  margin: 1rem auto;
  min-width: 250px;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  width: 20vw;
}

.image {
  display: block;
  margin: auto;
  width: 100%;
}

.title {
  font-weight: 700;
  text-transform: capitalize;
}

.info {
  text-transform: capitalize;
}
