@import 'styles/colors';
@import 'styles/media';
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');


.title {
  color: $white;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  list-style: none;
  padding: 0;
  width: 90%;
  margin: auto;
  

  @include media('>=tablet') {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
}

.card {
  display: block;
  background-color: $lightGrey;
  border-radius: 0.5rem;
  color: $white;
  font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-size: 27px;
  font-weight: 800;
  line-height: 1.1;
  margin: 30px;
  text-align: center;

  @include media('>=tablet') { 
      margin: 0;
  }

  &:hover {
    color: $lightGreen;
  }

  .image {
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
  }

  .text {
    display: block;
    margin: 15px 0;
  }
}

.dymension-warn {
  background-color: rgba(244, 162, 11, 0.5);
  color: #FFFFFF;
  padding: 1rem;
  margin-top: 2rem;
  max-width: 90vw;
}